.icon-group i {
    margin-left: 10px; /* Adjust the value as needed */
}

    .icon-group i:first-child {
        margin-left: 0; /* No margin for the first icon */
    }

#moduleDetailPopup .container {
    max-height: 80vh; 
    overflow-y: auto; 
}

#detail-description {
    height: 100%; 
    min-height: calc(2 * (38px + 1rem + 2px)); /
}