

<footer class="bg-main-color position-relative">
    <div class="footer-content-box">
        <img src="/images/logo.png" alt="logo" width="50">
        <a href="#" style="font-weight: bold; font-size: 25px; text-decoration: none; color: white; margin-left: 10px;">LATouch</a>
        <p class="mt-2">Manage and Deliver Your Projects On Time. The top choice for programmers from beginners to experts.</p>
        <div class="icon-box">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <div class="footer-content-box">
        <h4>Product</h4>
        <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Case Study</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </div>
    <div class="footer-content-box">
        <h4>Help</h4>
        <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Condition</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQs</a></li>
        </ul>
    </div>
    <div class="footer-content-box">
        <h4>Contact</h4>
        <ul>
            <li><a href="#">(84) 1247593024</a></li>
            <li><a href="#">hehe@gmail.com</a></li>
            <li><a href="#">227 Nguyen Van Cu, District 5, Ho Chi Minh City</a></li>
        </ul>
    </div>
</footer>